*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

header{
    padding: 15px 50px;
    background-color: rgb(156, 194, 208);
}

.container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

.left-col{
    width: 25%;
    text-align: left;
}

.central-col{
    width: 50%;
    text-align: center;
}

.right-col{
    width: 25%;
    text-align: right;
}

.bg-gold{
    background-color: goldenrod;
}

.box-border{
    border: 1px dashed black;
    height: 100%;
}

/* corpo principale */

.bg-blue{
    background-color: rgb(0, 0, 137);
    width: 100%;
}

.container2{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0px;
}

.bg-pink{
    background-color: rgb(231, 126, 230);
    height: 280px;
    width: 100%;

}